{% extends 'base.html' %}

{% load static %}

{% block content %}
{% include 'navbar.html' %}
<div class="container">
  {% block banner %}
<section class="bg-primary">
  <div class="p-3">
    <div class="container">
      <h4 class="text-dark font-weight-bolder">
        #{{ tag.title }}
      </h4>
    </div>
  </div>
</section>
{% endblock %}
<div class="columns is-mobile is-multiline is-centered mt-2">
{% for post in posts %}
    <div class="column is-half">
      <div class="card">
        <figure class="image is-256x256">
          <a href="{{ post.get_absolute_url }}"><img class="thumbnail" src="{{ post.picture.url }}" alt="Image"></a>
        </figure>
      </div>
    </div>
{% endfor %}
  </div>
</div>
{% endblock %}