
{% extends 'base.html' %}

{% load static %}

{% block content %}
{% include 'navbar.html' %}
<div class="container">
  <div class="columns is-mobile">
  

    <div class="col-4">
    <aside class="menu">
      <h4 class="font-weight-bolder p-b-4">
      Messages
      </h4>
    <ul style="overflow-y: scroll; height: 500px" class="menu-list">

  {% for message in messages %}
  
  <a class="{% if active_direct == message.user.username %}is-active{% endif %}" href="{% url 'directs' message.user.username %}">
  <div class="container">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64" id="dirs">
            {% if message.user.profile.picture %}
              <img class="rounded-circle " src="{{ message.user.profile.picture.url }}" alt="Placeholder image">
            {% else %}
              <img class="rounded-circle " src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
            {% endif %}
        </figure>
      </div>
      <div class="media-content">
  
        <div class="content">
          <p>
            <strong><small>@{{ message.user.username }}</small></strong>
          </p>
        </div>
  
        <div class="content">
          {% if message.unread %}
          <small>
            <i class="material-icons text-danger">fiber_manual_record</i> {{ message.unread }}
          </small>
          {% endif %}        
        </div>
  
      </div>
    </article>
  </div>
  </a>
  {% endfor %}

    </ul>
    </aside>
  <br>
  <a href="{% url 'usersearch' %}" class="btn btn-sm btn-info">New message</a>
  
  </div>
  
  <div class="col-8">
  
  <div style="overflow-y: scroll; height: 500px">
{% if messages %}  
  {% for direct in directs %}
  <div class="container">
    <article class="media">
      <div class="media-left">
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong><small>@{{ direct.sender.username }}</small></strong> on: <strong><small>{{ direct.date|date:'N d G:i'}}</small></strong>
          </p>
          {{ direct.body }} 
          <hr>
        </div>
      </div>
    </article>
  </div>
  {% endfor %}
  {% else %}
  <p class="text-center mt-5 pt-5 font-weight-bolder">
    You have no messages yet
  <p>
  {% endif %}  

  </div>
  </div>
  </div>
  <div class="row">
    <form role="form" method="POST" action="{% url 'send_direct' %}">
      {% csrf_token %}
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          {% if profile.picture %}
            <img class="rounded-circle account-img" src="{{ request.user.profile.picture.url }}">
          {% else %}
            <img class="rounded-circle account-img" src="https://bulma.io/images/placeholders/256x256.png">
          {% endif %}
        </p>
      </figure>
      <div class="media-content">
        <input type="hidden" name="to_user" value="{{ active_direct }}">
        <div class="field">
          <p class="control">
            <textarea class="textarea" style="height: 15px;" name="body" placeholder="Type message..."></textarea>
          </p>
        </div>
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <button type="submit" name="action" class="btn btn-sm btn-outline-info">Send</buttom>
            </div>
          </div>
        </nav>
      </div>
    </article>
    </form>
  </div>
</div>

{% endblock %}